@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-menu {
    display: none;
}
.column-hide-show{
   writing-mode: vertical-rl;
}
@media only screen and (max-width: 767px) {
    .mobile-menu {
        display: flex;
    }
    .mobile-nav {
        display: none;
    }
    .mobile-nav.open {
        background: #4b5563;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 10px 0;
        position: absolute;
        left: 0;
        margin-top: 18px;
        right: 0;
    }
    .mobile-nav.open a, .mobile-nav.open button{
        color: #fff;
    }
    .filter-details{
        display: grid;
        width: 95%;
        margin: 0 auto;
        grid-template-columns: auto auto;
        justify-content: flex-start;
    }
    .filter-details .search-wrapper,
    .filter-details .status-filter select,
    .filter-details .filter-solution-type select,
    .filter-details .import-type-field button{
        width: 170px;
    }
}
@media only screen and (min-width:768px) {
    .menu-toggle{
        display: none;

    }
}

